.btn {
    background: #f0971b;
    color: white;
    border: #e49325 1px solid;
    font-size: large;
    font-weight: bold;

}
.btn:hover {
    transform: scale(1.05);
    background: white;
    color: #e49325;
    border: 2px solid #f0971b;
}

.cbd {
    padding: 0px 4px;
}

.cbd:hover {
    border: 2px solid #e49325;
}

.formControl:focus{
    border-color: #e49325;
    box-shadow: 0 0 0 0.1rem #e49325;
  }

  .op:hover{
    background: #e49325;
  }